/* unvisited link */
*{
    margin:0;
    padding: 0;
}

a:link {
    color: white;
    text-decoration: none;
}
#background_vid{
    position: absolute;
    z-index: -1;
}
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}
  
/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
body{
    overflow: hidden;
}

.login-page{
    background-image: url("https://cdn.wallpapersafari.com/6/59/WyIG2b.jpg");
}
button.sign-button:hover {
    background-color: #90ccf4;
}
button.sign-button{
    cursor: pointer;
    background-color: #5DA2D5;
    border: none;
    color: white;
    width:325px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

select{
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    cursor: pointer;
    border: none;
    color: gray;
    width:325px;
    padding: 10px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
option.hide{
    display:none;
}

form.login-form{
    text-align: right;
    width: 400px;
    margin-right: 10%;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    backdrop-filter: blur(6px);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

#gender{
    display: flex;
}
#gender li{
    width: 50px;
}
.regbtn{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}
#submit{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
    align-self: center;
    background-color: white;
    border-radius: 25px;
    padding: 8px 20px;
    width: 100%;
    /* border: 2px solid rgba(255, 255, 255, 0.411); */
    border: none;
    transition: background-color 0.3s;
}
#submit:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}
div.login-page{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: transparent;
}
h1{
    position:absolute;
    left:30px;
    top:10px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 75px;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#username, #password{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 300px; 
}
#username::placeholder, #password::placeholder{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
#username:focus-visible{
    outline: none;
}
#password:focus-visible{
    outline: none;
}

.overlay{
    background-color: black;
    opacity: .7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
p{
    text-align: center;
    color: #5DA2D5;
}
p.gender{
    color: #5DA2D5;
}

/********************************************************
******************REGISTER PAGE STYLES*******************
*********************************************************/

div.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: transparent;
    background-image: url("https://cdn.wallpapersafari.com/6/59/WyIG2b.jpg");
}

.register-form{
    text-align: center;
    margin: 0px 300px;
    padding: 30px 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

form.register-form * {
    width: 200px;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

form.register-form input {
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    width: 50%;
    font-size: 12px;
}

form.register-form input::placeholder {
    color: white;
}

form.register-form #gender, #preference {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    color: white;
    width: 200px;
    margin: 0;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
}

form.register-form option {
    border-radius: 0;
    padding: 5px;
    color: black;
}

form.register-form #username, form.register-form #password{
    width: 50%;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
}

form.register-form #username::placeholder, form.register-form #password::placeholder {
    color: white;
    opacity: 1;
}

form.register-form #submit {
    border-radius: 25px;
    align-self: center;
    width: 50%;
}

form.register-form #bio {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    height: 60px;
    padding: 10px;
    resize: none;
    width: 50%;
    color: white;
}

#bio::placeholder {
    color: white;
}

#username:autofill {
    background-color: transparent, !important;
}

