ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: max-content;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    gap: 10px;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
  }
  #logo{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 34px;
    margin-left: 20px;
  }
  #find{
      height: 40px;
      width: 40px;
      transition: transform 0.3s;
  }
  #find:hover{
    transform: translateY(-3px);
  }
  #find img{
      height: 40px;
      width:40px;
  }
  #matches{
      height: 50px;
      width: 40px;
      display: flex;
      align-items: center;
      transition: transform 0.3s;
  }
  #matches:hover{
    transform: translateY(-3px);
  }
  #heart{
      height: 40px;
      width: 40px;
      filter: invert(66%) sepia(18%) saturate(5308%) hue-rotate(316deg) brightness(105%) contrast(93%);
  }
  .account{
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
  }
  .account:hover{
    cursor: pointer;
  }
  .account img{
      border-radius: 50%;
      height: 40px;
      width: 40px;
  }
  ul a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
.dropdown-content{
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: calc(50px + 10px);
  right: 15px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  transform: translateY(-10px);
  transition: transform 0.4s, opacity 0.4s;
}
.dropdown-content a{
  padding: 10px 20px;
  width: 100%;
  border-bottom: solid 1px rgb(226, 226, 226);
  transition: background-color 0.2s;
}
.dropdown-content a:hover{
  background-color: rgb(226, 226, 226);
}
.show{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
