.profile-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: calc(100vh - 50px);
    flex-direction: column;
}
.profile {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: beige;
    box-shadow: 0px 10px 20px rgba(86, 86, 86, 0.2);
    height: 500px;
    font-weight: 600;
}
.profile-pic {
    height: 150px;
    width: 150px;
    background-color: beige;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0px;
}

.profile-pic img {
    height: inherit;
    width: 150px;
}

.left {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: beige;
    height: inherit;
    justify-content: space-evenly;
}
.left h2{
    font-family: 'Quicksand', sans-serif;
}
.left p{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Quicksand', sans-serif;
}
.right {
    width: 800px;
    padding: 20px;
    color: black;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    justify-content: space-evenly;
}
.right h2{
    font-family: 'Quicksand', sans-serif;
}
.right p {
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    word-break: break-all;
}