{% extends 'baseX.html' %}
{% block title %}Match{% endblock %}
{% block content %}
<div class="profile-page">
        <h1>Love is blind, start matching!</h1>
        <div class="profile">
            <div class="left">
                <h2 class="match-username">{{ user.username }}</h2>
                <div class="profile-pic">
                    <img src={{ user.image if user.image else "../static/images/default-profile.webp"}} alt="default">
                </div>
                <p class="match-name">{{ user.firstName }} {{ user.lastName }}</p>
                <p class="match-email">{{ user.email }}</p>
                <p class="match-age">Age: {{ user.age }}</p>
                <p class="match-gender">Gender: {{ user.gender }}</p>
                <p class="match-preference">Preference: {{ user.preference }}</p>
            </div>
            <div class="right">
                <h2>Biography</h2>
                <p class="match-bio">{{ user.bio }}</p><br>
            </div>
        </div>  
        <div class="user-actions">
            <a id="next" href="/match"><img src="../static/images/x.svg"></img></a> 
            <form action="/matched" method="POST">
                <input type="hidden" value={{ user.email }} name="email" id="email">
                <button id="like"><img src="../static/images/filledheart.svg"></button>
            </form>
        </div>
    </div>
{% endblock %}