{% extends 'baseX.html' %}
{% block title %}Match{% endblock %}
{% block content %}
<div class="profile-page">
        <h1>Love is blind, start matching!</h1>
        <div class="profile">
            <div class="left">
                <h2>{{ user.username }}</h2>
                <div class="profile-pic">
                    <img src={{ user.image if user.image else "../static/images/default-profile.webp"}} alt="default">
                </div>
                <p>{{ user.firstName }} {{ user.lastName }}</p>
                <p>{{ user.email }}</p>
                <p>Age: {{ user.age }}</p>
                <p>Gender: {{ user.gender }}</p>
                <p>Preference: {{ user.preference }}</p>
            </div>
            <div class="right">
                <h2>Biography</h2>
                <p>{{ user.bio }}</p><br>
            </div>
        </div>  
        <a id="like" href="/match"><img src="../static/images/x.svg"></img></a> 
        <form action="/matched" method="POST">
            <input type="hidden" value={{ user.email }} name="email" id="email">
            <button><img src="../static/images/like.svg"></button>
        </form>
    </div>
{% endblock %}