{% extends 'baseX.html' %}
{% block title %}Match{% endblock %}
{% block content %}
    <div class="matches-page">
        <div id="user-list">
            {% for user in users %}
                <div class="single-user-{{ user.id }}">
                    <p>{{ user.firstName }} {{ user.lastName }}</p>
                    <div class="user-interactions">
                        <a class="icon-containers" href="/matches/{{ user.id }}"><script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/iibbnuky.json"
                                trigger="loop-on-hover"
                                colors="primary:#c71f16,secondary:#f4a09c"
                                style="width:8vw;height:8vh">
                            </lord-icon></a>
                        <a class="icon-containers" href="/unmatch/{{ user.id }}"><script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/ghsceiqn.json"
                                trigger="morph"
                                style="width:8vw;height:8vh">
                            </lord-icon></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user %}
            <div id="chatbox">
                <div class="all-messages">
                    {% for msg in messages %}
                        {% if msg.userid_sent != user.id %}
                            <p class="our-msg">
                                {{ msg.message }}
                            </p>
                        {% else %}
                            <p class="their-msg">
                                {{ msg.message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <form method="POST" action="/message/{{ user.id }}">
                    <textarea class="message-box" name="message" rows="2" placeholder="Don't be shy, send a message..."></textarea>
                </form>
            </div>
            <div id="user-profile">
                <div class="user-header">
                    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                    <h4>{{ user.gender }} • {{ user.age }} years old</h4>
                </div>
                <div class="user-bio">
                    <h3>Biography</h3>
                    <p>{{ user.bio }}</p>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}