{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

    <div class="register-page">
        <h1>BlindFold</h1>
        
        <form class="register-form" action="/register" method="POST">
            <h2>Sign up</h2>
            {{ form.hidden_tag() }}
            {{ form.firstName }}
            {{ form.lastName }}
            {{ form.email }}
            {{ form.age }}
            {{ form.gender }}
            {{ form.preference }}
            {{ form.username }}
            {{ form.password }}
            {{ form.bio }}
            {{ form.submit }}
        </form>

    </div>
        {{ users }}

{% endblock %}

